.main-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 75%;
    flex-grow:1;
    color: #11998e;
}

.content{
    display: flex;
    position: absolute;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    background-color: #282c34;
}
