.main-row{
  display: flex;
  flex-direction: row;
  font-family: Roboto,sans-serif;
}

.todo-spacer{
  flex: 0 0 30%;
}

.todo-holder{
  align-content: center;
  position: center;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: #FFFDD0;
}
